<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <div id="login" *ngIf="!joined">
      <form name='form-login'>
        <span class="fontawesome-user"></span>
          <input type="text" id="user" [(ngModel)]="user" placeholder="Username">
       
        <span class="fab fa-connectdevelop"></span>
          <input type="number" id="pass" [(ngModel)]="port" min="5000" max="6000" placeholder="Port">
        
        <input type="submit" (click)="join(user,port)" value="Login">

      </form>
    </div>